:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-dark-gray: hsl(0, 0%, 55%);
  --color-very-dark-gray: hsl(0, 05, 41%);

  --hero-gradient: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  --card-gradient: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.54));
  --card-hover-gradient: linear-gradient(
    rgba(140, 140, 140, 0.774),
    rgba(140, 140, 140, 0.774)
  );

  --font-size: 15px;

  --alate-font-family: "Alata", sans-serif;
  --josefin-font-family: "Josefin Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loopstudios-landing-page-header {
  width: 100%;
  height: 85vh;
  background: var(--hero-gradient), url("images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.loopstudios-landing-page-navbar {
  width: 100%;
  padding: 4rem 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loopstudio-nav-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2.5rem;
}

.loopstudio-nav-item {
  list-style: none;
  font-size: var(--font-size);
  font-family: var(--alate-font-family);
}

.loopstudio-nav-item a {
  color: var(--color-white);
  text-decoration: none;
}

.hover-line {
  width: 30px;
  height: 2px;
  background-color: var(--color-white);
  position: absolute;
  top: 6.5rem;
  display: none;
}

.toggle-menu {
  display: none;
}

.loopstudio-header-content {
  width: 40%;
  margin: 5rem 0 0 10rem;
  padding: 1rem 2rem;
  border: 2px solid var(--color-white);
}

.loopstudio-header-content h1 {
  font-size: 4.5rem;
  color: var(--color-white);
  font-family: var(--josefin-font-family);
  text-transform: uppercase;
  font-weight: 200;
  line-height: 5rem;
}

.loopstudio-page-content {
  background-color: var(--color-white);
  padding: 10rem;
}

.interactive-vr-section {
  width: 100%;
  position: relative;
}

.interactive-vr-section-left {
  width: 60%;
  height: 500px;
  background-image: url("images/desktop/image-interactive.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.interactive-vr-section-right {
  width: 700px;
  height: fit-content;
  padding: 6rem;
  position: absolute;
  bottom: -6.5rem;
  right: -2.5rem;
  background-color: var(--color-white);
}

.interactive-vr-heading {
  font-size: 3.5rem;
  font-family: var(--josefin-font-family);
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.interactive-vr-paragraph {
  font-size: var(--font-size);
  color: var(--color-very-dark-gray);
  opacity: 0.7;
  font-family: var(--alate-font-family);
  padding-right: 2rem;
}

.our-creation {
  width: 100%;
  padding: 8rem 0 0 0;
  height: fit-content;
  border: 2px solid var(--color-very-dark-gray);
}

.our-creation-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our-creation-header h2 {
  font-size: 3rem;
  font-family: var(--josefin-font-family);
  font-weight: 300;
  text-transform: uppercase;
}

.our-creation-header button {
  font-size: var(--font-size);
  font-family: var(--alate-font-family);
  font-weight: 300;
  text-transform: uppercase;
  border: 2px solid var(--color-black);
  padding: 0.6rem 3rem;
  background: none;
  cursor: pointer;
  letter-spacing: 0.35rem;
}

.our-creation-header button:hover {
  color: var(--color-white);
  background-color: var(--color-black);
  transition: 0.2s linear;
}

.our-creation-cards {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 500px 500px;
  gap: 2rem;
  border: 2px solid var(--color-very-dark-gray);
}

.our-creation-card {
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: relative;
  cursor: pointer;
}

.our-creation-card:hover h3 {
  color: var(--color-black);
}

.our-creation-card h3 {
  font-size: 2rem;
  padding-right: 10rem;
  font-weight: 300;
  font-family: var(--josefin-font-family);
  text-transform: uppercase;
  position: absolute;
  bottom: 2rem;
  color: var(--color-white);
}

.our-creation-card.earth {
  background-image: var(--card-gradient),
    url("images/desktop/image-deep-earth.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.our-creation-card.earth:hover {
  background: var(--card-hover-gradient),
    url("images/desktop/image-deep-earth.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.25s linear;
}

.our-creation-card.arcade {
  background-image: var(--card-gradient),
    url("images/desktop/image-night-arcade.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.our-creation-card.arcade:hover {
  background-image: var(--card-hover-gradient),
    url("images/desktop/image-night-arcade.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.our-creation-card.team {
  background-image: var(--card-gradient),
    url("images/desktop/image-soccer-team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.our-creation-card.team:hover {
  background-image: var(--card-hover-gradient),
    url("images/desktop/image-soccer-team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.our-creation-card.team h3 {
  padding-right: 6rem;
}

.our-creation-card.grid {
  background-image: var(--card-gradient), url("images/desktop/image-grid.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.our-creation-card.grid:hover {
  background-image: var(--card-hover-gradient),
    url("images/desktop/image-grid.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.our-creation-card.above {
  background-image: var(--card-gradient),
    url("images/desktop/image-from-above.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.our-creation-card.above:hover {
  background-image: var(--card-hover-gradient),
    url("images/desktop/image-from-above.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.our-creation-card.above h3 {
  padding-right: 6rem;
}

.our-creation-card.borealis {
  background-image: var(--card-gradient),
    url("images/desktop/image-pocket-borealis.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.our-creation-card.borealis:hover {
  background-image: var(--card-hover-gradient),
    url("images/desktop/image-pocket-borealis.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.our-creation-card.curiosity {
  background-image: var(--card-gradient),
    url("images/desktop/image-curiosity.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.our-creation-card.curiosity:hover {
  background-image: var(--card-hover-gradient),
    url("images/desktop/image-curiosity.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.our-creation-card.fisheye {
  background-image: var(--card-gradient),
    url("images/desktop/image-fisheye.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.our-creation-card.fisheye:hover {
  background-image: var(--card-hover-gradient),
    url("images/desktop/image-fisheye.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.loopstudio-footer {
  width: 100%;
  height: fit-content;
  padding: 3rem 10rem;
  background-color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.loopstudio-footer-left {
  width: 50%;
}

.loopstudio-footer-left .footer-logo {
  margin-bottom: 1.5rem;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5rem;
}

.footer-link {
  list-style: none;
}

.footer-link a {
  text-decoration: none;
  color: var(--color-white);
  font-family: var(--alate-font-family);
  font-size: var(--font-size);
}

.loopstudio-footer-right {
  width: 50%;
  text-align: right;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  margin-bottom: 2rem;
}

.social-icon {
  cursor: pointer;
}

.loopstudio-footer-right p {
  font-size: var(--font-size);
  font-family: var(--alate-font-family);
  color: var(--color-dark-gray);
}

@media (max-width: 1500px) {
  .loopstudios-landing-page-navbar {
    padding: 4rem 6rem;
  }

  .loopstudio-header-content {
    margin: 5rem 0 0 6rem;
  }

  .loopstudio-page-content {
    padding: 6rem;
  }

  .interactive-vr-section-right {
    right: -1.5rem;
  }

  .loopstudio-footer {
    padding: 4rem 6rem;
  }
}

@media (max-width: 1400px) {
  .loopstudios-landing-page-navbar {
    padding: 4rem 6rem;
  }

  .loopstudio-header-content {
    width: 45%;
    margin: 5rem 0 0 6rem;
  }

  .loopstudio-page-content {
    padding: 6rem;
  }

  .interactive-vr-section-right {
    right: -5rem;
  }
}

@media (max-width: 1310px) {
  .loopstudios-landing-page-navbar {
    padding: 4rem 6rem;
  }

  .loopstudio-header-content {
    width: 50%;
    margin: 5rem 0 0 6rem;
  }

  .loopstudio-page-content {
    padding: 6rem;
  }

  .interactive-vr-section-left {
    width: 60%;
    height: 400px;
  }

  .interactive-vr-section-right {
    width: 550px;
    bottom: -4.5rem;
    right: 1.5rem;
    padding: 3.5rem;
  }

  .interactive-vr-heading {
    font-size: 2.5rem;
  }

  .our-creation-cards {
    grid-template-rows: repeat(4, 500px);
  }

  .loopstudio-header-content h1 {
    font-size: 3.5rem;
  }

  .our-creation-card h3 {
    padding-right: 15rem;
  }

  .our-creation-card.team h3 {
    padding-right: 12rem;
  }

  .our-creation-header h2 {
    font-size: 2.5rem;
  }

  .loopstudio-footer {
    padding: 4rem 6rem;
  }
}

@media (max-width: 1210px) {
  .loopstudios-landing-page-navbar {
    padding: 4rem 3rem;
  }

  .loopstudio-header-content {
    width: 50%;
    margin: 5rem 0 0 3rem;
  }

  .loopstudio-page-content {
    padding: 6rem;
  }

  .interactive-vr-section-left {
    width: 60%;
    height: 400px;
  }

  .interactive-vr-section-right {
    width: 500px;
    bottom: -4.5rem;
    right: -6rem;
    padding: 3.5rem;
  }

  .interactive-vr-heading {
    font-size: 2.5rem;
  }

  .our-creation-cards {
    grid-template-rows: repeat(4, 500px);
  }

  .loopstudio-header-content h1 {
    font-size: 3.5rem;
  }

  .our-creation-card h3 {
    padding-right: 15rem;
  }

  .our-creation-card.team h3 {
    padding-right: 12rem;
  }

  .our-creation-header h2 {
    font-size: 2.5rem;
  }

  .loopstudio-footer {
    padding: 4rem 3rem;
  }
}

@media (max-width: 1120px) {
  .loopstudios-landing-page-navbar {
    padding: 4rem 3rem;
  }

  .loopstudio-header-content {
    width: 50%;
    margin: 5rem 0 0 3rem;
  }

  .loopstudio-page-content {
    padding: 4rem 3rem;
  }

  .interactive-vr-section-left {
    width: 65%;
    height: 400px;
  }

  .interactive-vr-section-right {
    width: 450px;
    bottom: -4.5rem;
    right: 0;
    padding: 3.5rem;
  }

  .interactive-vr-heading {
    font-size: 2.5rem;
  }

  .our-creation-cards {
    grid-template-rows: repeat(3, 500px);
  }

  .loopstudio-header-content h1 {
    font-size: 3.5rem;
  }

  .our-creation-card h3 {
    padding-right: 8rem;
  }

  .our-creation-card.team h3 {
    padding-right: 6rem;
  }

  .our-creation-card.above h3 {
    padding-right: 2rem;
  }

  .our-creation-header h2 {
    font-size: 2.5rem;
  }

  .loopstudio-footer {
    padding: 4rem 3rem;
  }
}

@media (max-width: 950px) {
  .loopstudios-landing-page-navbar {
    padding: 3rem 2rem;
  }

  .loopstudio-header-content {
    width: 50%;
    margin: 5rem 0 0 3rem;
  }

  .loopstudio-page-content {
    padding: 4rem 3rem;
  }

  .interactive-vr-section-left {
    width: 65%;
    height: 400px;
  }

  .interactive-vr-section-right {
    width: 450px;
    bottom: -4.5rem;
    right: 0;
    padding: 3.5rem;
  }

  .interactive-vr-heading {
    font-size: 2.5rem;
  }

  .our-creation-cards {
    grid-template-rows: repeat(4, 550px);
    gap: 3rem;
    background-position: center;
  }

  .loopstudio-header-content h1 {
    font-size: 3.5rem;
  }

  .our-creation-card h3 {
    padding-right: 8rem;
  }

  .our-creation-card.team h3 {
    padding-right: 6rem;
  }

  .our-creation-card.above h3 {
    padding-right: 2rem;
  }

  .our-creation-header h2 {
    font-size: 2.5rem;
  }

  .loopstudio-footer {
    padding: 4rem 3rem;
  }

  .footer-links {
    gap: 1.5rem;
  }
}

@media (max-width: 800px) {
  .loopstudios-landing-page-navbar {
    padding: 3rem 2rem;
  }

  .loopstudio-nav-items {
    gap: 1.5rem;
  }

  .loopstudio-header-content {
    width: 60%;
    margin: 6rem 0 0 2rem;
  }

  .loopstudio-page-content {
    padding: 6rem 2rem;
    overflow: hidden;
  }

  .interactive-vr-section-left {
    width: 65%;
    height: 350px;
  }

  .interactive-vr-section-right {
    width: 360px;
    bottom: -4.5rem;
    right: -3.5rem;
    padding: 2rem;
  }

  .interactive-vr-heading {
    font-size: 2rem;
  }

  .our-creation-cards {
    grid-template-rows: repeat(4, 500px);
    gap: 1.5rem;
  }

  .loopstudio-header-content h1 {
    font-size: 3rem;
  }

  .our-creation-card h3 {
    padding-right: 15rem;
  }

  .our-creation-card.team h3 {
    padding-right: 8rem;
  }

  .our-creation-card.above h3 {
    padding-right: 8rem;
  }

  .our-creation-header h2 {
    font-size: 2.5rem;
  }

  .loopstudio-footer {
    padding: 4rem 2rem;
  }

  .footer-links {
    gap: 1rem;
  }
}

@media (max-width: 680px) {
  .loopstudios-landing-page-navbar {
    padding: 3rem 1rem;
  }

  .loopstudio-nav-items {
    gap: 1.5rem;
  }

  .loopstudio-header-content {
    width: 60%;
    margin: 6rem 0 0 2rem;
  }

  .loopstudio-page-content {
    padding: 4rem 1rem;
    overflow: hidden;
  }

  .interactive-vr-section-left {
    width: 65%;
    height: 350px;
  }

  .interactive-vr-section-right {
    width: 360px;
    bottom: -4.5rem;
    right: -3.5rem;
    padding: 2rem;
  }

  .interactive-vr-heading {
    font-size: 2rem;
  }

  .our-creation-cards {
    grid-template-rows: repeat(4, 500px);
    gap: 1.5rem;
  }

  .loopstudio-header-content {
    width: 80%;
  }

  .loopstudio-header-content h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .our-creation-card h3 {
    padding-right: 15rem;
  }

  .our-creation-card.team h3 {
    padding-right: 8rem;
  }

  .our-creation-card.above h3 {
    padding-right: 8rem;
  }

  .our-creation-header h2 {
    font-size: 2.5rem;
  }

  .loopstudio-footer {
    padding: 4rem 1rem;
  }

  .footer-links {
    gap: 1rem;
  }
}

@media (max-width: 630px) {
  .loopstudios-landing-page-navbar {
    padding: 3rem 1rem;
  }

  .loopstudio-nav-items {
    gap: 1.5rem;
  }

  .loopstudio-header-content {
    width: 60%;
    margin: 6rem 0 0 2rem;
  }

  .loopstudio-page-content {
    padding: 4rem 1rem;
    overflow: hidden;
  }

  .interactive-vr-section-left {
    width: 65%;
    height: 350px;
  }

  .interactive-vr-section-right {
    width: 360px;
    bottom: -4.5rem;
    right: -3.5rem;
    padding: 2rem;
  }

  .interactive-vr-heading {
    font-size: 2rem;
  }

  .our-creation-cards {
    grid-template-rows: repeat(4, 500px);
    gap: 1rem;
  }

  .loopstudio-header-content {
    width: 80%;
  }

  .loopstudio-header-content h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .our-creation-card h3 {
    padding-right: 15rem;
  }

  .our-creation-card.team h3 {
    padding-right: 2rem;
  }

  .our-creation-card.above h3 {
    padding-right: 2rem;
  }

  .our-creation-header h2 {
    font-size: 2.5rem;
  }

  .loopstudio-footer {
    padding: 4rem 1rem;
  }

  .footer-links {
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .loopstudios-landing-page-header {
    width: 100%;
    height: 100vh;
  }

  .loopstudios-landing-page-navbar {
    padding: 3rem;
  }

  .toggle-menu {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    display: block;
  }

  .loopstudio-nav-items {
    display: none;
  }

  .loopstudio-header-content {
    width: 60%;
    margin: 6rem 0 0 3rem;
  }

  .loopstudio-page-content {
    padding: 4rem 3rem;
    overflow: hidden;
  }

  .interactive-vr-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;

  }

  .interactive-vr-section-left {
    width: 100%;
  }

  .interactive-vr-section-right {
    width: 100%;
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    padding: 0 3rem;
  }

  .interactive-vr-section-right p{
    padding: 0;
  }

  .interactive-vr-heading {
    font-size: 2rem;
  }

  .loopstudio-header-content {
    width: 80%;
  }

  .loopstudio-header-content h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .our-creation{
    position: relative;
    text-align: center;
  }

  .our-creation-header{
    width: 100%;
    text-align: center;
    display: block;
  }

  .our-creation-header button{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .our-creation-cards {
    grid-template-rows: repeat(8, 200px);
    gap: 2rem;
  }

  .our-creation-card h3 {
    padding-right: 20rem;
    text-align: left;
  }

  .our-creation-card.earth {
    background-image:var(--card-gradient), url('images/mobile/image-deep-earth.jpg');
  }

  .our-creation-card.earth h3 {
    padding-right: 24rem;
  }

  .our-creation-card.arcade {
    background-image: url('images/mobile/image-night-arcade.jpg');
  }

  .our-creation-card.team {
    background-image: url('images/mobile/image-soccer-team.jpg');
  }

  .our-creation-card.grid {
    background-image: url('images/mobile/image-grid.jpg');
  }

  .our-creation-card.above {
    background-image: url('images/mobile/image-from-above.jpg');
  }

  .our-creation-card.borealis {
    background-image: url('images/mobile/image-pocket-borealis.jpg');
  }

  .our-creation-card.curiosity {
    background-image: url('images/mobile/image-curiosity.jpg');
  }

  .our-creation-card.fisheye {
    background-image: url('images/mobile/image-fisheye.jpg');
  }

  .our-creation-card.team h3 {
    padding-right: 16rem;
  }

  .our-creation-card.above h3 {
    padding-right: 14rem;
  }

  .our-creation-header h2 {
    font-size: 2.5rem;
  }

  .loopstudio-footer {
    padding: 4rem 1rem;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
  }

  .footer-links {
    gap: 1rem;
    flex-direction: column;
  }

  .social-icons{
    width: 100%;
    justify-content: center;
  }

  .loopstudio-footer-right p{
    text-align: center;
  }
}

@media (max-width: 530px) {
  .loopstudios-landing-page-header {
    width: 100%;
    height: 100vh;
  }

  .loopstudios-landing-page-navbar {
    padding: 3rem 2.5rem;
  }

  .interactive-vr-section-left {
    width: 100%;
  }

  .interactive-vr-section-right {
    width: 100%;
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    padding: 0 3rem;
  }

  .interactive-vr-section-right p{
    padding: 0;
  }

  .interactive-vr-heading {
    font-size: 2rem;
  }

  .loopstudio-header-content {
    width: 80%;
  }

  .loopstudio-header-content h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .our-creation{
    position: relative;
    text-align: center;
  }

  .our-creation-header{
    width: 100%;
    text-align: center;
    display: block;
  }

  .our-creation-card.team h3 {
    padding-right: 12rem;
  }

  .our-creation-card.above h3 {
    padding-right: 10rem;
  }
}

@media (max-width: 450px) {
  .loopstudios-landing-page-header {
    width: 100%;
    height: 100vh;
  }

  .loopstudios-landing-page-navbar {
    padding: 3rem 2rem;
  }

  .toggle-menu {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    display: block;
  }

  .loopstudio-nav-items {
    display: none;
  }

  .loopstudio-header-content {
    width: 60%;
    margin: 6rem 0 0 2rem;
  }

  .loopstudio-page-content {
    padding: 4rem 2rem;
    overflow: hidden;
  }

  .interactive-vr-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;

  }

  .interactive-vr-section-left {
    width: 100%;
  }

  .interactive-vr-section-right {
    width: 100%;
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    padding: 0 3rem;
  }

  .interactive-vr-section-right p{
    padding: 0;
  }

  .interactive-vr-heading {
    font-size: 2rem;
  }

  .loopstudio-header-content {
    width: 80%;
  }

  .loopstudio-header-content h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .our-creation{
    position: relative;
    text-align: center;
  }

  .our-creation-header{
    width: 100%;
    text-align: center;
    display: block;
  }

  .our-creation-header button{
    width: 60%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .our-creation-cards {
    grid-template-rows: repeat(8, 150px);
    gap: 2rem;
  }

  .our-creation-card h3 {
    padding-right: 20rem;
    text-align: left;
  }

  .our-creation-card.earth {
    background-image:var(--card-gradient), url('images/mobile/image-deep-earth.jpg');
  }

  .our-creation-card.earth h3 {
    padding-right: 24rem;
  }

  .our-creation-card.team h3 {
    padding-right: 12rem;
  }

  .our-creation-card.above h3 {
    padding-right: 10rem;
  }

}

@media (max-width: 375px) {
  .loopstudios-landing-page-header {
    width: 100%;
    height: 100vh;
  }

  .loopstudios-landing-page-navbar {
    padding: 3rem 2rem;
  }

  .toggle-menu {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    display: block;
  }

  .loopstudio-nav-items {
    display: none;
  }

  .loopstudio-header-content {
    width: 85%;
    margin: 6rem auto;
  }

  .loopstudio-header-content h1{
    font-size: 2.5rem;
    line-height: 3rem;
    padding: 0;
  }

  .loopstudio-page-content {
    padding: 4rem 2rem;
    overflow: hidden;
  }

  .interactive-vr-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;

  }

  .interactive-vr-section-left {
    width: 100%;
    height: 250px;
  }

  .interactive-vr-section-right {
    width: 100%;
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    padding: 0;
  }

  .interactive-vr-heading{
    font-size: 2rem;
    padding: 0;
  }

  .our-creation{
    position: relative;
    text-align: center;
  }

  .our-creation-header{
    width: 100%;
    text-align: center;
    display: block;
  }

  .our-creation-header button{
    width: 65%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .our-creation-cards {
    grid-template-rows: repeat(8, 150px);
    gap: 2rem;
  }

  .our-creation-card h3 {
    padding-right: 20rem;
    bottom: 1rem;
    text-align: left;
  }

  .our-creation-card.earth {
    background-image:var(--card-gradient), url('images/mobile/image-deep-earth.jpg');
  }

  .our-creation-card.earth h3 {
    padding-right: 24rem;
  }

  .our-creation-card.team h3 {
    padding-right: 7rem;
  }

  .our-creation-card.above h3 {
    padding-right: 7rem;
  }

  .our-creation-header h2 {
    font-size: 2rem;
  }
}
